# ------------------------------------------------------------------------------
# Extenstions
# ------------------------------------------------------------------------------
~*
*$py.class
*.py[codz]


# ------------------------------------------------------------------------------
# Folders
# ------------------------------------------------------------------------------
/.venv*/
/**/__pycache__/


# ------------------------------------------------------------------------------
# Files
# ------------------------------------------------------------------------------
